{% extends "layout.html" %}

{% block title %}
    Message
{% endblock %}

{% block main %}
    <style>
        #messages {
            height: 75vh;
            overflow-y: auto;
        }
    </style>
    <div class="row">
        <div class="col-9">
            {% if private == True %}
                <form method="POST" action="/room/{{ room_id }}">
                    <label for="invite">Invite People to join your private room (seperate by a single comma (,))</label>
                    <textarea class="form-control" id="invite" name="invite" row="3"></textarea>
                    <button type="submit">Submit</button>
                </form>
            {% endif %}
            <br>
            <div class="container" id="messages">
                {% for m in messages %}
                    <small>{{ m[4] }}</small><h4>{{ m[1] }}:</h4><p>{{ m[2] }}</p>
                {% endfor %}
            </div>
            <form id="messageForm">
                <div class="form-group">
                    <label for="message">Send Message</label>
                    <textarea class="form-control" id="message" row="3"></textarea>
                </div>
                <button type="submit" id="sendMessageButton">Send Message</button>
            </form>
            <script src="/static/message.js"></script>
        </div>
        <div class="col-3">
            <h1>Users</h1>
            {% for user in users %}
                <span>{{ user }}</span>  <span id="{{ user }}">offline</span> <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}